@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Header style */
.banner{
    display: flex;
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    padding: 0px 20px;
    border-radius: 2%;
    align-items: center;
    margin: 20px 30px 40px 50px;
    background-position: center;
    justify-content: center;
    margin: 0 auto;
    
}
.banner-title{
    font-size: 24px;
    width: 622px;
    height: 29px;
    font-size: medium;
    color: #0E0E0E;
}
.banner-description{
    font-size: 56px;
    font-size: bold;
    width: 622px;
    height: 201px;
    color: #0E0E0E;
}
.banner-btn{
    font-size: 18px;
    width: 202px;
    height: 22px;
    font-size: 600;
    color: white;
    background-color: #006A50;
    padding: 30px 80px;
    border: none;
    border-radius: 5px;
}
.banner-pic{
    width: 474.032px;
    height: 400px;    
}
/* Main style */
.vision-title{
    font-size: 40px;
    font-size: bold;
    width: 1280px;
    height: 48px;
    color: #0E0E0E;
}
.vision-description{
    font-size: 16px;
    width: 1280px;
    height: 48px;
    color: #0E0E0E;
}
.skill-description{
   width: 64px;
   height: 64; 
}
.skill-title{
  font-size: 20px;
  font-size: bold;
  width: 346.67px;
  height: 24px;
  color: #0E0E0E;  
}
.skill-position{
    font-size: 16px;
    font-size: regular;
    width: 346.67;
    height: 72px;
    color: #0E0E0E;
}
.skill-section{
    font-size: 16px;
    font-size: 600;
    width: 82px;
    height: 19px;
    color: white;
    background-color: #5490F5;
    padding: 0px 0px 40px;
}
.vision-skill{
    font-size: 16px;
    font-size: 600;
    width: 82px;
    height: 19px;
    color: white;
    background-color: #006A50;
    padding: 0px 0px 40px;
}
.skill-vision{
    font-size: 16px;
    font-size: 600;
    width: 82px;
    height: 19px;
    color: white;
    background-color: darkgoldenrod; 
    padding: 0px 0px 40px; 
}
.skill{
  background-color: #5490F5;
  width: 350px;
  height: 309px;
}
.shift{
    background-color: #006A50;
    width: 350px;
    height: 309px;
}
.title{
    background-color: #FFC239; 
    width: 350px;
    height: 309px;   
}
.skills-container{
 display: flex; 
 gap: 25px; 
}
.vision1{
width: 1280px;
height: 789px;
 margin: 0 auto;   
}
/* recent style */
.recent-title{
 font-size: 40px;
 font-size: bold;
 width: 1280px;
 height: 48px;
 color: #0E0E0E;   
}
.recent-section{
  font-size: 16px;
  width: 1280px;
  height: 48px;
  color: #0E0E0E;  
}
.news{
  width: 408px;
  height: 306px;  
}
.news-title{
  font-size: 32px;
  font-size: bold;
  width: 744px;
  height: 38px;
  color: #0E0E0E;  
}
.news-section{
 width: 134px;
 height: 40px;   
}
.news-description{
 font-size: 16px;
 width: 744px;
 height: 72px;
 color: #0E0E0E; 
 font-size: regular;  
}
.news-shift{
  font-size: 18px;
  width: 87px;
  height: 22px;
  font-size: 600;
   background-color: #006A50;
   padding: 0px 0px 40px; 
}
.recent-description{
 padding: 74px 60px;
 margin: 0 auto;  
}
.news-position{
    padding: 74px 60px;
    margin: 0 auto;
}
.recent-news{
 display: flex;
width: 1280px;
height: 402px;
 background-color: #FFFFFF; 
 box-sizing: 1280px 402px;
 margin: 0 auto; 
}
.recent-shift{
    width: 1280px;
    height: 120px;
    margin: 0 auto;
}
.recent{
    margin-top: 0%;
}
.text{
    display: flex;
    width: 1280px;
    height: 402px;
    margin: 0 auto;
}
/* donate style */
.donate-title{
    font-size: 40px;
    font-size: bold;
    width: 1280px;
    height: 48px;
    color: #0E0E0E;
    margin: 0 auto;
}
.donate-section{
 font-size: 16px;
 font-size: regular;
 width: 1104px;
 height: 48px;
 color: #0E0E0E; 
 margin: 0 auto;  
}
.taka{
   font-size: 40px;
   width: 160px;
   height: 48px;
   color: #0E0E0E;
   background-color: white;
}
.taka-title{
    font-size: 40px;
    width: 160px;
    height: 48px; 
    color: #0E0E0E;
    background-color: #006A50;
}
.taka-section{
    font-size: 40px;
    width: 160px;
    height: 48px;
    color: #0E0E0E;
    background-color: white;   
}
.taka-description{
    font-size: 40px;
    width: 160px;
    height: 48px;
    color: #0E0E0E;
    background-color: white; 
    display: inline; 
}
.donate-description{
    width: 1500px;
    height: 200px;
    display: flex;
    margin: 0 auto;
}





